{
    "type": "mysql",
    "host": "db",
    "port": 3306,
    "username": "root",
    "password": "secret",
    "database": "library",
    "entities": ["dist/**/*.entity{.ts,.js}"],
    "synchronize": true
}